<div class='row'>
  <div class='col-lg-6'>

    <p class='lead small'>
      Ada Developers Academy is a non-profit, tuition-free programming school for women. Thank you for your tax-deductible support toward addressing diversity in Seattle’s tech community.
    </p>

    <blockquote>
      <p>Ada provides opportunities for people who would be great software developers, but otherwise not be able to, because of lack of resources and instruction.</p>
      <cite><strong>Christina Thompson</strong>, Ada Student</cite>
    </blockquote>

    <blockquote>
      <p>I’m excited to bring diversity into the software industry.</p>
      <cite><strong>Shadae Holmes</strong>, Ada Student</cite>
    </blockquote>

  </div>
  <div class='col-lg-6 '>

    <div class="heading">
      <h1>Expand Opportunities<br>for Women in Technology</h1>
      <hr>
      <h2>Contribute Today</h2>
    </div>

    <!-- <form action="/charge" method="POST" role='form' class="form-horizontal" id="payment-form">
      <div class="form-group">
        <label class="col-lg-2 sr-only">Amount:</label>
        <div class='col-lg-11'>
          <input type="text" size="10" placeholder="$ Amount" class='cust-amount form-control input-lg' name="customer_amount" value="{{form.amount}}"/>
        </div>
      </div>

      {% if error %}
        <div class="alert alert-danger alert-dismissable payment-errors">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <span>{{ error }}</span>
        </div>
      {% endif %}

        <label>You</label>
        <div class="form-group">
          <label class="sr-only">Name:</label>
          <div class='col-lg-6'>
            <input type="text" size="25" placeholder="Name" class='cust-name form-control input-sm' name="customer_name" value="{{form.name}}" />
            <small class="help-block">Leave blank to remain anonymous</small>
          </div>
          <label class="sr-only">Email:</label>
          <div class='col-lg-6'>
            <input type="text" size="20" placeholder="Email" data-validate="true" class='cust-email form-control input-sm' value="{{form.email}}" name="customer_email"/>
          </div>
        </div>
        <label class='credit-card'>Credit Card <i class="text-success card-type-icon fa"></i></label>
        <div class="form-group">

          <div class='col-lg-8'>
            <input type="text" size="20" placeholder="Card Number" class='card-number form-control input-sm' name="card[number]" value="{{form.card_number}}"/>
            <input type="hidden" class='card-type' name="card[type]" value="{{form.card_type}}"/>
          </div>
          <label class="sr-only">CVC:</label>
          <div class='col-lg-4'>
            <input type="text" size="4" placeholder="Security Code" class='card-cvc form-control input-sm' value="{{form.cvc}}" name=card[cvc] data-stripe="cvc"/>
          </div>
        </div>


        <div class="form-group">
          <label class='sr-only'>Expiration:</label>
          <div class='col-sm-6'>
            <input type="text" size="2" placeholder="MM" class='card-expiry-month form-control col-lg-4 input-sm' name=card[month] value="{{form.month}}"/>
          </div>
          <div class='col-sm-6'>
            <input type="text" size="4" placeholder="YYYY" class='card-expiry-year form-control col-lg-4 input-sm' name=card[year] value="{{form.year}}"/>
          </div>
        </div>

      <button class='btn btn-primary btn-lg btn-block submit-donation' type="submit" disabled="disabled">Submit Donation</button>

    </form> -->
  </div>
</div>
