<div class='row'>
  <div class='col-lg-6'>

    <p class='lead small'>
      Ada Developers Academy is a non-profit, tuition-free programming school for women. Thank you for your tax-deductible support toward addressing diversity in Seattle’s tech community.
    </p>

    <blockquote>
      <p>Ada provides opportunities for people who would be great software developers, but otherwise not be able to, because of lack of resources and instruction.</p>
      <cite><strong>Christina Thompson</strong>, Ada Student</cite>
    </blockquote>
  </div>

  <div class='col-lg-6 '>

    <div class="heading">
      <h1>Expand Opportunities<br>for Women in Technology</h1>
      <hr>
      <h2>Contribute Today</h2>
    </div>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
       <input type="hidden" name="cmd" value="_s-xclick">
       <input type="hidden" name="encrypted" value="<%=ENV['PP_CODE']%>">
       <button class='btn btn-primary btn-lg btn-block submit-donation' type="submit" name="submit">Donate Now</button>
     </form>

    <div class="send-check">
      <h3>Want to send a check?</h3>
      <ul>
        <li class='check-header'>Please make payable to:</li>
        <li>TSNE/Ada Developers Academy</li>
      <ul>
        <li class='check-header'>Mailing address:</li>
        <li>Third Sector New England, Inc.</li>
        <li>ATTN: Andrew Cox-Stavros</li>
        <li>Chief Financial Officer</li>
        <li> 89 South Street, Suite 700</li>
        <li>Boston, MA 02111-2670</li>
      </ul>
      <br/><small>Third Sector New England is recognized by the Internal Revenue Service as a tax-exempt, 501(c)(3)
  organization and donations to TSNE, Federal ID number 04-2261109, are tax-deductible contributions
  to the extent allowable by law.</small>
    </div>
  </div>
</div>
