<!DOCTYPE html>
<html>
<head>
  <title>Donate to Ada Developers Academy</title>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="./stylesheets/application.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/layout.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header role="banner">
    <div class="l-container">

      <div class="brand">
        <a class="brand-logo" href="http://adadevelopersacademy.org/">Ada Developers Academy></a>
      </div>

      <div class="nav-wrapper">
        <nav class="nav-collapse closed" role="navigation" aria-hidden="false" style="-webkit-transition: max-height 250ms; transition: max-height 250ms; position: relative;">
          <ul class="nav--main">
            <li><a href="http://adadevelopersacademy.org/about">About</a></li>
            <li><a href="http://adadevelopersacademy.org/applicants">For Applicants</a></li>
            <li><a href="http://adadevelopersacademy.org/companies">For Companies</a></li>
            <li><a href="http://application.adadevelopersacademy.org/">Apply</a></li>
            <li><a href="http://adadevacademy.tumblr.com/">Blog</a></li>
          </ul>
          <a href="#" class="nav-toggle" aria-hidden="true">Menu</a>
        </nav>
      </div>

    </div>
  </header>


  <div class='container'>
    <%= yield %>
  </div>

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</body>
</html>
