<div class='heading text-center'>
  <h2 class="strikethrough-header--b">
    <span class="strike">Thank you for donating!</span>
  </h2>
</div>
<img src="/images/c3capstones.jpg" alt='Ada Students Thank You'/>
<hr>
<p class='lead'>
  Your tax-deductible donation covers classroom costs (books, software, AV equipment, rent, and supplies), compensation for instructors and staff, and student scholarships. Questions? Please <a href=“mailto:contact@adadevelopersacademy.org?Subject=“Donation Inquiry”>email us</a>.
</p>
<hr>
<div class='row'>
  <div class='col-lg-6'>
    <blockquote>
      <p>No program but Ada provides the support and resources for older students like myself wanting to change careers and open up opportunities without going into debt.</p>
      <cite><strong>Davida Marion</strong>, Ada Alumna</cite>
    </blockquote>
  </div>

  <div class='col-lg-6'>
    <blockquote>
      <p>Ada gave me everything at once – a new career, a new city, a new community; a new life. The people behind Ada are incredibly supportive and I'm so excited for the opportunities that are now available to me.</p>
      <cite><strong>Amira Hailemariam</strong>, Ada Student</cite>
    </blockquote>
  </div>

</div>
